In [ ]:
Q-13. Write an SQL query to show only odd rows from a table.
ans -  SELECT * from worker where worker_ID%2 <>0;

In [ ]:
Q-14. Write an SQL query to clone a new table from another table.
ans - 
create table worker_clone like worker;
insert into worker_clone select * from worker;
select * from worker_clone;