In [ ]:
Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.
ans - select * from worker where year(JOINING_DATE) = 2014 and month(JOINING_DATE)=02;

In [ ]:
Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.
ans - select DEPARTMENT, count(DEPARTMENT) from worker group by DEPARTMENT having count(DEPARTMENT) > 1;

In [ ]:
Q-3. How to remove duplicate rows from Employees table.
ans - WITH cte AS (
    SELECT EMPNAME,DEPT,CONTACTNO,CITY, 
        ROW_NUMBER() OVER (
            PARTITION BY EMPNAME,DEPT,CONTACTNO,CITY
            ORDER BY EMPNAME,DEPT,CONTACTNO,CITY
        ) AS row_num
     FROM  emplyee
)
DELETE FROM cte
WHERE row_num > 1;