In [ ]:
Q-1. Write an SQL query to print details of workers excluding first names, “Vipul” and “Satish” from Worker table.
ans -  select * from worker where FIRST_NAME not in ('Vipul' , 'Satish');

In [ ]:
Q-2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.
Ans - select * from worker where FIRST_NAME like '%h' and length(FIRST_NAME)=6;

In [ ]:
Q-3. Write a query to validate Email of Employee.
ans - SELECT * FROM table_name WHERE email_id LIKE '%_@__%.__%';